@import "tailwindcss";
@plugin "@tailwindcss/typography";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}